<!-- <br />  
<button type="button" class="btn btn-danger"  style="float: right; margin-right: 5%;">Log Out</button>
<br />
<div class="card login">
    <div class="card-body">
        <div class="card-title"><h3 class="word"><b><em><i>Add Manager or Customer</i></em></b></h3></div>
        <br /> <br />
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                Name
            </span>
            <input type="email" class="form-control" placeholder="xyz" aria-label="Username" aria-describedby="addon-wrapping" id='name'/>
        </div>
        <br /> <br />
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                Email
            </span>
            <input type="email" class="form-control" placeholder="xyz@abc.com" aria-label="Username" aria-describedby="addon-wrapping" id='email'/>
        </div>
        <br /> <br />
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
               Password
            </span>
            <input type="password" class="form-control" placeholder="Abc@123" aria-label="Username" aria-describedby="addon-wrapping" id='password'/>
        </div>
        <br /> <br />
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Type</label>
            <select class="form-select" id="userType" aria-placeholder="Choose">
                <option value="Admin">Admin</option>
              <option value="Manager">Manager</option>
              <option value="Customer">Customer</option>
            </select>
          </div>
          <br />
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Manager</label>
          <select class="form-select" id="manager" aria-placeholder="Choose">
              <option>Choose One...</option>
            <option *ngFor="let man of managers">
                {{man}}
              </option>
          </select>
          </div>
          <b>Note : Select Manager only your a customer</b>
        <br /><br />
        <button type="button"  class="btn btn-primary"  (click)="signHandler()">Add</button>
        <br />  <br />
    </div>
</div> -->


 <div class="content">
    <div class="text">Add Manager/Customer</div>
      <div class="field">
        <span class="fas fa-user-circle"></span>
        <input type="text" required placeholder="Name" id='name'>
      </div>
      <div class="field">
        <span class="fas fa-envelope"></span>
        <input type="text" required placeholder="Email"  id='email'>
      </div>
      <div class="field">
        <span class="fas fa-lock"></span>
        <input type="password" placeholder="Password" id='password'>
      </div>
       <div class="field">
        <span class="fas fa-plus"></span>
          <select name="users" id="userType">
            <option value="Manager">Manager</option>
            <option value="Customer">Customer</option>
        </select>
      </div>
      <div class="field">
        <span class="fas fa-user"></span>
        <select class="form-select" id="manager" aria-placeholder="Choose">
            <option>Select Manager</option>
          <option *ngFor="let man of managers">
              {{man}}
            </option>
        </select>
      </div>
      <div class="note">Choose manager only for customer</div>
      <button (click)="signHandler()" >Create User</button>
      <button class="red" (click)="logout()">Log out</button>
    </div>
