<div id="container">

    <div id="leftThing">
      <div class="content">
   
        <div class="text">Rate a manager</div>
        <div class="field">
              <select name="users" id="value">
                <option value="1">Poor</option>
                <option value="2">Satisfied</option>
                <option value="3">Average</option>
                <option value="4">Good</option>
                <option value="5">Awesome</option>
            </select>
        </div>
        <button  (click)="post()" >Rate Manager</button>
        <button  (click)="logout()"  class="red">Log Out</button>
    </div>
    
    </div>
  
  
    <div id="rightThing">
      <div class="content"style="width: 90%; height:95%; ">
        <div class="text">Message from your manager</div>
            <div *ngFor="let message of Messages"> <div class="message">
                <div>Manager: {{message.message}}</div>
            </div>
                <br />
            </div>
        </div>
          
  
  
    </div>
    
    </div>

  
